body,
html {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #333;
}

div.App {
    padding-top: 1rem;
}

p,
input,
button,
a {
    font-size: 1.4rem;
}

a {
    cursor: pointer;
    &:focus,
    &:hover {
        text-decoration: none;
    }
}