main.loader-wrapper {
    text-align: center;
    padding-top: 7rem;
}

.loader~p {
    line-height: 3;
    letter-spacing: .05rem
}

.loader {
    animation: App-logo-spin infinite 1s linear;
    display: inline-block;
    font-size: 3.5rem;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.weather-header {
    padding: 3.5rem 0;
    h1 {
        position: relative;
        display: inline-block;
        clear: both;
        margin-top: 0;
        font-size: 8rem;
        font-weight: 700;
        line-height: 1
    }
    h1 span {
        font-size: .3em;
        position: absolute;
        left: 101%;
        top: 0;
        font-weight: bold;
    }
    h3 {
        margin-top: 0;
    }
    h3 span {
        font-size: 1.4rem;
    }
    h4 {
        margin: 0;
        line-height: 1.2
    }
}

.info-title {
    font-size: 1.2rem;
}

span.highlighted {
    font-size: 1.2rem;
}

.btn {
    outline: 0 !important;
}

button.save-button {
    margin-top: 3.5rem;
    outline: 0;
    color: #337ab7;
    &:focus {
        outline: 0;
    }
    &:active {
        outline: 0
    }
}

.remove-place {
    box-shadow: none;
    opacity: .3;
    transition: opacity .3s ease;
    background-color: white;
    background-image: none;
    &:hover,
    &:active {
        background-color: white;
    }
}

.list-places:hover .remove-place {
    opacity: 1;
}

.fade-appear {
    opacity: 0.1;
    transform: scale(.7);
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transform: scale(1);
    transition: all .4s ease-in;
}

.slideIn-appear.slideIn-appear-active {
    animation: slideIn .3s ease-in-out forwards;
}

.slideOut-leave.slideOut-leave-active {
    animation: slideOut .3s ease-in-out forwards;
}

.panel,
.list-group {
    box-shadow: none;
}

@keyframes slideIn {
    0% {
        opacity: .2;
        transform: translateY(2rem)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(0)
    }
    100% {
        opacity: 0;
        transform: translateX(2rem)
    }
}